
.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: "rgba(143, 12, 176, 0.26)";
}

.middle {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#board {
  z-index: 3;
}

h1 {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}