.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.middle {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

h1 {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}