.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: rgba(116, 125, 11, 0.4);
}

.middle {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#board {

}

h1 {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}